<div class="container-fluid">
    <div class="row">
        <!-- Campaign Level Data-->
        <div class="col-lg-6">
            <h1>Campaign Aggregate Data</h1>
            <!-- <div class="row">-->
            <div class="panel">
                <impression-aggregate [aggregateData]="campaignAggregateData"></impression-aggregate>
            </div>
            <!-- </div>-->
        </div>

        <!-- Add Level Data-->
        <div class="col-lg-6">
            <h1>Per Ad Data</h1>
            <div *ngFor="let adData of aggregateDataByAd">
                <!-- <div class="row">-->
                <div class="panel">
                    <impression-aggregate [aggregateData]="adData"></impression-aggregate>
                </div>
                <!-- </div>-->
            </div>
        </div>
    </div>
</div>