<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3>{{aggregateData?.campaignName || aggregateData?.adName}}</h3>

            <div class="row">
                <!-- faces -->
                <div class="col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            {{aggregateData?.uniqueFaces|| 0}} unique
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            {{aggregateData?.totalFaces|| 0}} total
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-left">Ad Viewers Recognized</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- gender -->
                <div class="col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-venus-mars fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            {{aggregateData?.uniqueFemales|| 0}} female
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            {{aggregateData?.uniqueMales|| 0}} male
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-left">Ad Viewer Gender</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- sentiment chart -->
                <div class="col-sm-6">
                    <div>
                        <div style="display: block">
                            <canvas baseChart
                                    [datasets]="sentimentChartData"
                                    [labels]="sentimentChartLabels"
                                    [options]="sentimentChartOptions"
                                    [legend]="sentimentChartLegend"
                                    [chartType]="sentimentChartType"
                                    [colors]="sentimentChartColors"
                                    height="250"></canvas>
                        </div>
                    </div>
                </div>
                <!-- Age & Gender chart -->
                <div class="col-sm-6">
                    <div>
                        <div style="display: block">
                            <canvas baseChart
                                    [datasets]="genderChartData"
                                    [labels]="genderChartLabels"
                                    [options]="genderChartOptions"
                                    [legend]="genderChartLegend"
                                    [chartType]="genderChartType"
                                    height="250"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
