<div *ngIf="device">
  <div  class="row device-details-row">
    <div class="col-xs-4">
      ID
    </div>
    <div class="col-xs-8 text-right">
      {{device?.deviceId}}
    </div>
  </div>
  <div  class="row device-details-row" [ngClass]="{disabled: !device?.enabled}">
    <div class="col-xs-4">
      Enabled
    </div>
    <div class="col-xs-8 text-right">
      {{device?.enabled}}
    </div>
  </div>
  <div *ngIf="!device?.enabled" class="row device-details-row" [ngClass]="{disabled: !device?.enabled}">
    <div class="col-xs-4">
      Reason Disabled
    </div>
    <div class="col-xs-8 text-right">
      {{device?.statusReason}}
    </div>
  </div>
  <div  class="row device-details-row">
    <div class="col-xs-4">
      Last Activity Time
    </div>
    <div class="col-xs-8 text-right">
      {{device?.lastActivityTime}}
    </div>
  </div>
  <div  class="row device-details-row">
    <div class="btn-group-example">
      <div class="btn-group" role="group" aria-label="Enabled/Disable device message sending rights">
        <button title="Allow device to send messages to IotHub" type="button" class="btn btn-raised btn-success" [attr.disabled]="device?.enabled ? 'true':null" (click)="setEnabled(true)">Enable</button>
        <button title="Disallow device to send messages to IotHub" type="button" class="btn btn-raised btn-danger" [attr.disabled]="!device?.enabled ? 'true':null" (click)="setEnabled(false)">Disable</button>
      </div>
    </div>
  </div>
  <div  class="row device-details-row">
    <button title="Delete Device from IotHub registry" type="button" class="btn btn-danger btn-with-icon btn-raised" (click)="delete()"><i class="ion-nuclear"></i>Delete</button>
  </div>
</div>