@import '../../../theme/sass/conf/conf';

  .device-header-row {
    font-size: 26px;
    padding-bottom:10px;
    border-bottom: 2px solid $border-light;
    // border-top: 1px solid $border-light;
    text-align: center;
  }

  .device-details-row {
    font-size: 16px;
    padding-top:10px;
  }

  .device-button-row {
    border-top: 2px solid $border-light;
  }

  .disabled{
      color:$danger;
  }

$btn-icon-size: 34px;
.btn-icon {
  width: $btn-icon-size;
  height: $btn-icon-size;
  line-height: $btn-icon-size;
  padding: 0;
  text-align: center;
}

.btn-with-icon {
  i {
    margin-right: 10px;
  }
}

.device-activation-row {
    font-size: 16px;
    padding-top:10px;
 }

  .device-activation-group {
    border-top: 1px solid $border-light;
}

.modal {
  padding-top: 300px;

  .modal-content {
    color: $dropdown-text;

    .modal-header {
      border: none;
    }

    .modal-footer {
      border: none;
    }

    .close {
      outline: none;
    }
  }
}

.modal-buttons .btn {
  margin-right: 20px;
}

.message-input{
  width:100%;
}